body {
  margin: 0;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: darksalmon;
  box-sizing: border-box;
  border: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.control {
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: darksalmon;
  border: none;
  text-align: center;
}
